@import "../../assets/scss/variables";

.accordions {
  width: 80%;
  margin: 3em auto 0 auto;
}

.accordions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: $accordion-list-shadow;
  border: 0.1em solid $accordion-border-color;
  background-color: $accordion-background-color;
  border-radius: 0.25em;
}

.accordions__item {
  background-color: $accordion-background-color;
}

.accordions__item:not(:last-of-type) {
  border-bottom: 0.1em solid $accordion-border-color;
}

.accordions__item:hover {
  position: relative;
  z-index: 2;
  box-shadow: $accordion-shadow;
}
